<h1><%= @list.name %></h1>
<%= simple_form_for [@list, Bookmark.new] do |f| %>
  <%= f.association :movie, input_html: {data: {controller: "tom_select"}} %>
  <%= f.input :comment %>
  <%= f.submit "add movie" %>
<% end %>
<%= render "lists/movie" %>
